
<nav class="navbar">
    <p><a href="/account">My account</a></p>
    <p><a href="/products" class="login">Products</a></p>
    <p><a href="/cart" class="login">Cart</a></p>
    <p><a href="/login">Login</a></p>
    <p><a href="/signup">Signup</a></p>
</nav>
