<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body>
	<header>
		<%- include('partials/navbar') %>
	</header>
	
	<h1>Account of <%= user.username %>
	</h1>
	<button><a href="/cart">My cart</a></button>
</body>

</html>

<style>
	.navbar {
		text-align: center;
	}

	button {
		display: inline-block;
		height: 45px;
		width: 150px;
		margin: 0 40px 0 16px;
		box-sizing: border-box;
		border: transparent;
		border-radius: 20px;
		font-family: "Dancing Script", cursive;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		background: linear-gradient(90deg, rgb(6, 1, 96) 0%, rgba(9, 9, 121, 1) 27%, rgba(24, 153, 180, 1) 78%, rgba(37, 177, 113, 1) 100%);
		cursor: pointer;
		outline: none;
		z-index: 2;
	}

	button a {
		text-decoration: none;
		color: white;
	}

	button:hover {
		opacity: 0.6;
	}
</style>