<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Courgette&family=Delius&family=Merienda:wght@300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/images/gift-svgrepo-com.svg">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header>
		<nav class="navbar">
			<p><a href="/account">My account</a></p>
			<p><a href="/products" class="login">Products</a></p>
			<p><a href="/cart" class="login">Cart</a></p>
			<p><a href="/login">Login</a></p>
			<p><a href="/signup">Signup</a></p>
		</nav>
	</header>
	<h1>Account of <%= user.username %>
	</h1>
	<button><a href="/cart">My cart</a></button>
</body>

</html>

<style>
	.navbar {
		text-align: center;
	}

	button {
		display: inline-block;
		height: 45px;
		width: 150px;
		margin: 0 40px 0 16px;
		box-sizing: border-box;
		border: transparent;
		border-radius: 20px;
		font-family: "Dancing Script", cursive;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		background: linear-gradient(90deg, rgb(6, 1, 96) 0%, rgba(9, 9, 121, 1) 27%, rgba(24, 153, 180, 1) 78%, rgba(37, 177, 113, 1) 100%);
		cursor: pointer;
		outline: none;
		z-index: 2;
	}

	button a {
		text-decoration: none;
		color: white;
	}

	button:hover {
		opacity: 0.6;
	}
</style>