<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body>
	<header>
		<%- include('partials/navbar') %>
	</header>
	<h1>Leave your order</h1>
	<form action="/checkout" method="POST">
		<label>Name<input type="text" name="name" /></label>
		<label>Shipping address<input type="text" name="address" /></label>
		<label>Payment option<select name="payment">
				<option value="PayPal">PayPal</option>
				<option value="Credit Card">Credit Card</option>
			</select>
		</label>
		<label>Shipment Method<select name="shipment">
				<option value="Courier">Courier</option>
				<option value="Delievery to a post station">Delievery to a post station</option>
			</select>
		</label>
		<button type="submit">Submit</button>
	</form>
</body>

</html>

<style>
	body {
		padding: 50px;
		font: "Winky Sans", Helvetica, Arial, sans-serif;
		background-color: rgba(221, 221, 252, 0.466);
	}

	h1 {
		font-family: "Courgette";
		font-weight: 700;
		text-align: center;
		letter-spacing: 4px;
		font-size: 60px;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	label {
		font-family: "Dancing Script", cursive;
		font-size: 25px;
	}

	input,
	select {
		display: block;
		margin: 10px 0;
		padding: 8px;
		width: 100%;
		max-width: 400px;
		border-radius: 10px;
		border-style: none;
	}

	button {
		display: inline-block;
		height: 45px;
		width: 150px;
		margin: 0 40px 0 16px;
		box-sizing: border-box;
		border: transparent;
		border-radius: 20px;
		font-family: "Dancing Script", cursive;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		background: linear-gradient(90deg, rgb(6, 1, 96) 0%, rgba(9, 9, 121, 1) 27%, rgba(24, 153, 180, 1) 78%, rgba(37, 177, 113, 1) 100%);
		cursor: pointer;
		outline: none;
		z-index: 2;
	}

	button:hover {
		opacity: 0.6;
	}
</style>