<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body>
	<header>
		<%- include('partials/navbar') %>
		<div class="head-container">
			<h1 class="animation2">Gifts that make hearts smile — theirs or yours!</h1>
		</div>
	</header>
	<h1>Welcome</h1>
</body>

</html>

<style>
	body {
		align-items: center;
		text-align: center;
	}
	.head-container {
		margin-top: 50px;
	}
</style>